<label>Server Name</label>
<!--input type="text" class="form-control" (input)="onUpdateServerName($event)"-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--p>{{  serverName }}</p-->

<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>

<!--p *ngIf='isServerCreated; else noServer'>New server was created, with name: {{ serverName }}</p-->
<p *ngIf='isServerCreated'>New server was created, with name: {{ serverName }}</p>
<ng-template #noServer>
  <p>No one server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

